{% extends 'base.html' %}

{% block content %}
    <div class="columns is-centered">
        {% if current_user.is_authenticated %}
            <div class="column is-3">
                <div class="box">
                    <p class="title is-5=">
                        <span class="icon has-text-warning">
                            <i class="fa-solid fa-bookmark"></i>
                        </span>
                        <span>我的書籤</span>
                    </p>
                    <ul>
                        {% for recipe in bookmark_recipes %}
                            <li>
                                <span class="icon">
                                    <i class="fa-solid fa-scroll"></i>
                                </span>
                                <span>{{ recipe.title }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="box">
                    <div class="is-flex is-justify-content-space-between">
                        <p class="title is-5">
                            <span class="icon has-text-primary">
                                <i class="fa-solid fa-book"></i>
                            </span>
                            <span>我的食譜</span>
                        </p>
                        <a role="button" id="add-button" class="button is-primary" href="{{ url_for('new_recipe') }}">
                            <span class="icon">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                        </a>
                    </div>
                    <ul>
                        {% for recipe in self_recipes %}
                            <li>
                                <span class="icon">
                                    <i class="fa-solid fa-scroll"></i>
                                </span>
                                <span>{{ recipe.title }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="column is-9">
            <div class="box">
                <p class="title is-5">
                    <span class="icon has-text-info">
                        <i class="fa-solid fa-newspaper"></i>
                    </span>
                    <span>近期更新</span>
                </p>
                <div class="px-5">
                    {% for recipe in public_recipes %}
                        <div class="card has-background-link-light mb-6 p-6">
                            <div class="content is-flex is-justify-content-space-between">
                                <span class="icon-text has-text-grey-light">
                                    <span class="icon">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                    <span>{{ recipe.user.name }}</span>
                                </span>
                                <span class="icon-text has-text-grey-light">
                                    <span class="icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </span>
                                    <span>{{ recipe.created_at|friendly_time }}</span>
                                </span>
                            </div>
                            <span class="title is-4">{{ recipe.title }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}