{% extends 'base.html' %}

{% block content %}
    <div class="m-6">
        <div class="block">
            <div class="columns is-vcentered">
                <div class="column is-narrow">
                    <p class="title is-4">{{ user.name }}</p>
                </div>
                <div class="column is-narrow">
                    {% if current_user.is_authenticated and user.id != current_user.id %}
                        {% if following %}
                            <button class="button is-info">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-check"></i>
                                    </span>
                                    <span>追蹤中</span>
                                </span>
                            </button>
                        {% else %}
                            <button class="button is-primary">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                    <span>追蹤</span>
                                </span>
                            </button>
                        {% endif %}
                    {% else %}
                        <a href="#">
                            <span class="icon-text is-size-4 has-text-grey-light">
                                <span class="icon">
                                    <i class="fa-solid fa-gear"></i>
                                </span>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-1 has-text-centered">
                <div class="content">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-solid fa-book"></i>
                        </span>
                        <span class="is-size-5">食譜</span>
                    </span>
                </div>
                <p class="is-size-5">{{ recipe_count }}</p>
            </div>
            <div class="column is-1 has-text-centered">
                <div class="content">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-solid fa-users"></i>
                        </span>
                        <span class="is-size-5">粉絲</span>
                    </span>
                </div>
                <p class="is-size-5">{{ followed_count }}</p>
            </div>
        </div>
        <hr>
        <p class="title is-4">公開食譜</p>
        <div class="is-flex is-justify-content-space-between is-flex-wrap-wrap">
        {% for recipe in public_recipes %}
            <div class="column is-half">
                <div class="card has-background-link-light my-2 p-6">
                    <p class="title is-4">{{ recipe.title }}</p>
                    <div class="is-flex is-justify-content-space-between">
                        <span class="icon-text has-text-grey-light">
                            <span class="icon">
                                <i class="fa-solid fa-clock"></i>
                            </span>
                            <span>{{ recipe.created_at|friendly_time }}</span>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}