{% extends 'base.html' %}

{% block content %}
    <div class="m-6">
        <div class="block">
            <div class="columns is-vcentered">
                <div class="column is-narrow">
                    <p class="title is-4">{{ user.name }}</p>
                </div>
                <div class="column is-narrow">
                    {% if current_user.is_authenticated and user.id != current_user.id %}
                        {% include 'components/follow-button.html' %}
                    {% elif current_user.is_authenticated %}
                        <a href="#">
                            <span class="icon-text is-size-4 has-text-grey-light">
                                <span class="icon">
                                    <i class="fa-solid fa-gear"></i>
                                </span>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-1 has-text-centered">
                <div class="content">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-solid fa-book"></i>
                        </span>
                        <span class="is-size-5">食譜</span>
                    </span>
                </div>
                <p class="is-size-5">{{ recipes|count }}</p>
            </div>
            <div class="column is-1 has-text-centered">
                <div class="content">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-solid fa-users"></i>
                        </span>
                        <span class="is-size-5">粉絲</span>
                    </span>
                </div>
                <p id="follower-count" class="is-size-5">{{ follower_count }}</p>
            </div>
        </div>
        <hr>
        <p class="title is-4">食譜</p>
        <div class="is-flex is-justify-content-space-between is-flex-wrap-wrap">
        {% for recipe in recipes %}
            <a class="column is-half" href="{{ url_for('view_recipe', token=recipe.token) }}">
                <div class="card has-background-link-light m-2 p-6">
                    <p class="title is-4">{{ recipe.title }}</p>
                    <div class="is-flex is-justify-content-space-between">
                        <span class="icon-text has-text-grey-light">
                            <span class="icon">
                                <i class="fa-solid fa-clock"></i>
                            </span>
                            <span>{{ recipe.created_at|friendly_time }}</span>
                        </span>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/profile.js') }}" type="text/javascript"></script>
{% endblock %}