{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="/signup">
        {{ form.csrf_token }}

        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="field">
                    <label for="{{ form.name.id }}" class="label">名稱</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.name(class_="input", placeholder="請輸入名稱", required=true) }}
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-address-card"></i>
                        </span>
                    </div>
                    <p class="help"></p>
                </div>

                <div class="field">
                    <label for="{{ form.account.id }}" class="label">帳號</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.account(class_="input", placeholder="請輸入帳號", required=true) }}
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <p class="help"></p>
                </div>

                <div class="field">
                    <label for="{{ form.password.id }}" class="label">密碼</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.password(class_="input", placeholder="請輸入密碼", required=true) }}
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                    </div>
                    <p class="help"></p>
                </div>

                <div class="field">
                    <label for="{{ form.confirm_password.id }}" class="label">確認密碼</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.confirm_password(class_="input", placeholder="請再次輸入密碼", required=true) }}
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                    </div>
                    <p class="help"></p>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-primary">
                            <span class="icon">
                                <i class="fa-solid fa-user-plus"></i>
                            </span>
                            <span>註冊</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}