<footer class="footer">
    <div class="content has-text-centered is-size-5">
        <p>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Recipizzazz" width="200">
            <a href="https://github.com/pudding0803/ReciPizzazz">
                <span class="icon is-large">
                    <i class="fa-brands fa-lg fa-github" style="color: #24292f;"></i>
                </span>
            </a>
            by <a href="https://github.com/pudding0803">PuddingYG</a>
        </p>
    </div>
</footer>