<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <title>Recipizzazz</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-extensions.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/notification.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/all.min.js') }}" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'includes/header.html' %}

        <div id="content" class="container my-5">
            {% include 'components/messages.html' %}
            {% block content %}{% endblock %}
        </div>

        {% include 'includes/footer.html' %}

        <script src="{{ url_for('static', filename='js/notification.js') }}" type="text/javascript"></script>
    </body>
</html>