<div class="field columns" id="row-{{ row }}">
    <div class="control column is-2">
        <input aria-label="ingredient" class="input ingredient" type="text" placeholder="材料">
    </div>
    <div class="control column is-1">
        <input aria-label="quantity" class="input quantity numeric" type="text" placeholder="量">
    </div>
    <div class="control column is-1">
        <input aria-label="adjust quantity" class="input adjust numeric" type="text" placeholder="調整量">
    </div>
    <div class="control column is-2">
        <div class="select">
            <select aria-label="change method" class="method">
                <option title="Hint for option 1" selected>隨比例改變</option>
                <option>固定不變</option>
            </select>
        </div>
    </div>
</div>