<div id="row-{{ row }}" class="field columns">
    <div class="control column is-3">
        <input aria-label="材料" class="input name" type="text" placeholder="材料">
    </div>
    <div class="control column is-2">
        <input aria-label="量" class="input quantity" type="text" placeholder="量">
    </div>
    <div class="control column is-2">
        <input aria-label="調整量" class="input adjust" type="text" placeholder="調整量">
    </div>
    <div class="control column is-2">
        <input aria-label="單位" class="input unit" type="text" placeholder="單位">
    </div>
    <div class="control column is-1">
        {% include 'components/lock-button.html' %}
    </div>
</div>