{% if liked %}
    <button id="like-button" class="button" data-liked="true">
        <span class="icon-text">
            <span class="icon has-text-danger">
                <i class="fa-solid fa-heart"></i>
            </span>
            <span id="liked-count">{{ liked_count }}</span>
        </span>
    </button>
{% else %}
    <button id="like-button" class="button" data-liked="false">
        <span class="icon-text">
            <span class="icon">
                <i class="fa-regular fa-heart"></i>
            </span>
            <span id="liked-count">{{ liked_count }}</span>
        </span>
    </button>
{% endif %}