<div class="columns row">
    <div class="control column is-3">
        <label>
            <input class="input name" type="text" placeholder="材料" required>
        </label>
    </div>
    <div class="control column is-2">
        <label>
            <input class="input quantity" type="text" placeholder="量" required>
        </label>
    </div>
    <div class="control column is-1">
        <button type="button" class="button is-danger delete-button">
            <span class="icon">
                <i class="fa-solid fa-trash"></i>
            </span>
        </button>
    </div>
</div>