<div class="columns row">
    <div class="control column is-3">
        <input aria-label="材料" class="input name" type="text" placeholder="材料" required>
    </div>
    <div class="control column is-2">
        <input aria-label="量" class="input quantity" type="text" placeholder="量" required>
    </div>
    <div class="control column is-2">
        <input aria-label="單位" class="input unit" type="text" placeholder="單位">
    </div>
    <div class="control column is-1">
        <button type="button" class="button is-danger delete-button">
            <span class="icon">
                <i class="fa-solid fa-trash"></i>
            </span>
        </button>
    </div>
</div>